# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash logs
crash.log

# Ignore Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform provider directories
.terraform/

# Ignore sensitive files
keys/

# ignore docker-compose cache
/module_1/ny_taxi_postgres_data/

# ignore data files
/module_1/data/
/module_1/homework/data